<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buku</title>
</head>
<body>
    <div id="getBooks"></div>

    <form id="addBook">
        <h2>Add Book</h2>
        <input type="text" id="name" name="name" placeholder="Book Name..." required>
        <br>
        <input type="text" id="author" name="author" placeholder="Author..." required>
        <br>
        <input type="text" id="year" name="year" placeholder="Year..." required>
        <br>
        <input type="number" id="page_count" name="page_count" placeholder="Page Count..." required>
        <br>
        <input type="text" id="publisher" name="publisher" placeholder="Publisher..." required>
        <br>
        <input type="submit" value="kirim">
    </form>

    <script>
        const url = "http://localhost:3000"
        
    </script>
    <script src="./javascript/getBook.js"></script>
    <script src="./javascript/addBooks.js"></script>
</body>
</html>